<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
    <!-- google analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135902158-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135902158-1');
    </script>
    <!-- google analytics -->
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">
          <section class='post'>
            <h1>{{ page.title }}</h1>
            {{ content }}
          </section>
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>