<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include pages.html %}
      <div class="content">
        <section class='post'>
          <h1 class="upcase">
            <div class='date'>{{ page.date | date_to_string }}</div>
            {{ page.title }}
          </h1>
          {{ content }}
          {% include signoff.html %}


        </section>
      </div>
      {% if page.share == 'y' %}
        {% include share.html %}
      {% endif %}

      {% if page.disqus == 'y' %}
        {% include disqus.html %}
      {% endif %}
      {% include links.html %}
    </div>
    {% include footer.html %}
    <!--leo-->
    <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//reborncodinglife.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//reborncodinglife.disqus.com/count.js" async></script>
    <!--leo-->
  </body>
</html>
